.group-elasticsearch {
    &.stats {
        #js-stats-loading,
        #js-cluster-health {
            .fa {
                margin-right: 0.5em;
            }
        }

        #js-stats-nodes,
        #js-stats-indices {
            .alert {
                margin: 0;
            }

            table {
                table-layout: fixed;
            }

            th.value,
            td.value {
                text-align: center;
                width: 150px;
            }
        }
    }
}
