parameters:
    level: 5
    paths:
        - ../src
        - ../tests
    bootstrapFiles:
        - constants.php
    scanFiles:
        - ../vendor/nails/common/helpers/file.php
        - ../vendor/nails/common/helpers/tools.php
        - ../vendor/nails/common/src/Common/CodeIgniter/Core/Common.php
        - ../vendor/nails/module-admin/helpers/permission.php
        - ../vendor/nails/module-auth/helpers/user.php
